<Boxel>
  <div class="embedded-collection-editor">
    {{#if @belongsToField}}
      {{#if this.field.value}}
        <div class="embedded-collection-editor__item embedded-collection-editor__item--{{this.format}}">
          {{component (or this.field.component "card") model=this.field.value mode="view" format=this.format expandAction=@expandAction}}
          <IconButton {{on "click" this.removeBelongsToItem}} @icon="icon-minus-circle" @class="embedded-collection-editor__remove-btn" @aria-label="remove" />
        </div>
      {{else}}
        <CollectionAddButton
          @searchFn={{@field.search}}
          @field={{this.field}}
          @fieldName={{@field.title}}
          @addItem={{this.addBelongsToItem}}
          @format={{this.format}}
          @component={{this.field.component}}
          @newItemComponent={{component "card" mode="view"}}
        />
      {{/if}}
    {{else}}
      {{#if (gt this.collection.length 1)}}
        <header class="embedded-collection-editor__header">
          <Boxel::SelectionControlGroup
            @toggleSelectAll={{this.toggleSelectAll}}
            @mode={{@mode}}
            @selectedItemCount={{this.collection.selectedItemCount}}
            @isSelected={{this.collection.selectedAll}}
            @menuComponent={{component 'actions-menu' class="media-collection__more-actions-menu" actionItems=(array "Delete" "Duplicate")}}
          />
        </header>
      {{/if}}
      <div class="embedded-collection-editor__items embedded-collection-editor__items--{{this.format}}">
        {{#each this.collection as |item i|}}
          {{#if (lt i this.displayCount)}}
            <div class="embedded-collection-editor__item embedded-collection-editor__item--{{this.format}} {{if (gt this.collection.length 1) "embedded-collection-editor__item--multiple"}}">
              {{#if (gt this.collection.length 1)}}
                <Boxel::SelectButton
                  {{on "click" (fn this.toggleSelect item)}}
                  @isSelected={{item.selected}}
                  @class="embedded-collection-editor__select-button"
                  @mode={{@mode}}
                />
              {{/if}}
              {{component (or item.component @field.component "card") model=item format=this.format}}
              <IconButton {{on "click" (fn this.removeItem item)}} @icon="icon-minus-circle" @class="embedded-collection-editor__remove-btn" @aria-label="remove" />
            </div>
          {{/if}}
        {{/each}}
        <CollectionAddButton
          @searchFn={{@field.search}}
          @field={{@field}}
          @fieldName={{@field.title}}
          @addItem={{this.addItem}}
          @format={{this.format}}
          @component={{@field.component}}
          @newItemComponent={{component "card" mode="view"}}
        >
          {{#if (and (gt this.collection.length this.displayCount) (not this.expanded))}}
            <div class="embedded-collection-editor__view-all-btn-container">
              <button {{on "click" this.viewAll}} class="embedded-collection-editor__view-all-btn">
                View all ({{this.collection.length}})
              </button>
            </div>
          {{/if}}
          {{#if (and (gt this.collection.length 2) this.expanded)}}
            <div class="embedded-collection-editor__view-all-btn-container">
              <button {{on "click" this.collapse}} class="embedded-collection-editor__view-all-btn">
                Collapse
              </button>
            </div>
          {{/if}}
        </CollectionAddButton>
      </div>
    {{/if}}
  </div>
</Boxel>