<div class="image-cards-page">
  <AnimatedContainer class="image-cards-list">
    {{#animated-value model key="id" group="image-card" use=this.transition as |card|}}
      <div class="image-card image-card-{{card.id}} expanded" role="button" onclick={{action "toggle"}}>
        {{#if card.image}}
          <div class="image-card--inner expanded">
            {{! template-lint-configure no-inline-styles {"allowDynamicStyles": true} }}
            <div class="header-image expanded" style={{css-url "background-image" card.image}} />
            {{!-- <div class="header expanded">
              <div class="title">{{card.title}}</div>
              <div class="credit">Photo by {{card.imageCredit}}</div>
            </div> --}}
          </div>
        {{/if}}
      </div>
    {{/animated-value}}
  </AnimatedContainer>
</div>