<section class="discrepancy" {{did-insert this.adjustCount}}>
  <div class="discrepancy__container">
    <header class="discrepancy__header">
      <h1 class="discrepancy__title">Discrepancy Card: Additional Data</h1>
      <div class="discrepancy__mode-btn">
        <LinkTo @route="media-registry.item.musical-work" @model={{@model.baseCard}} @class="mode-indicator mode-indicator--revision">
          Comparison Mode
        </LinkTo>
      </div>
    </header>

    <Breadcrumbs @class="discrepancy__breadcrumbs">
      <LinkTo @route="media-registry" @class="breadcrumbs__item breadcrumbs__item--inverse">
        <div class="breadcrumbs__item-label">Collection</div>
        <div class="breadcrumbs__item-title">Master Recordings</div>
      </LinkTo>
      <span class="breadcrumbs__carot" />
      <LinkTo @route="media-registry.item" @model={{@model.baseCard.itemId}} @class="breadcrumbs__item breadcrumbs__item--inverse">
        <div class="breadcrumbs__item-label">Master Detail</div>
        <div class="breadcrumbs__item-title">{{@model.baseCard.title}}</div>
      </LinkTo>
      <span class="breadcrumbs__carot" />
      <LinkTo @route="media-registry.item.musical-work" @model={{@model.baseCard.itemId}} @class="breadcrumbs__item breadcrumbs__item--inverse">
        <div class="breadcrumbs__item-label">Musical Work</div>
        <div class="breadcrumbs__item-title">{{@model.baseCard.title}}</div>
      </LinkTo>
    </Breadcrumbs>

    <div class="discrepancy__main {{if (eq this.mode "comparison") "discrepancy__main--comp-view"}}">
      <div class="discrepancy__comparison-header {{if (eq this.mode "comparison") "discrepancy__comparison-header--comp-mode"}}">
        Comparison between these 2 versions
        <PillButton {{on "click" this.toggleView}} @class="discrepancy-card__header-btn {{if (eq this.mode "comparison") "checked"}}" @variant="inverse">
          Resolve discrepancies
        </PillButton>
      </div>
      <div class="discrepancy__cards {{if (eq this.mode "comparison") "discrepancy__cards--comp-view"}}">
        <div class="discrepancy-card__header my-stuff">
          <div class="discrepancy-card__header-label">My stuff</div>
          <div>
            <div class="discrepancy-card__title">{{@model.baseCard.owner}}</div>
            <div class="discrepancy-card__datetime">{{moment-format @model.baseCard.datetime "MMM D, YYYY h:mm A"}}</div>
          </div>
          <PillButton @class="discrepancy-card__header-btn" @variant="inverse">Keep current version</PillButton>
        </div>
        <div class="discrepancy-card__header other-version">
          <div class="discrepancy-card__header-label">Other version</div>
          <div>
            <div class="discrepancy-card__title">{{@model.compCard.owner}}</div>
            <div class="discrepancy-card__datetime">{{moment-format @model.compCard.datetime "MMM D, YYYY h:mm A"}}</div>
          </div>
          <PillButton @class="discrepancy-card__header-btn" @variant="inverse">Link this version</PillButton>
        </div>
        {{#each @model.baseCard.isolatedFields as |field|}}
          <div class="discrepancy-field discrepancy-field--base-field {{format-id field.title}} {{if (eq this.mode "comparison") "comp-view"}}">
            {{#if (and field.new (eq this.mode "comparison"))}}
              <IconButton @class="discrepancy-field__btn discrepancy-field__btn--noop" @icon="carot" />
              <PillButton @class="discrepancy-field__btn--reset-btn" {{on "click" (fn this.revertField field)}}>Reset</PillButton>
            {{/if}}
            <FieldRenderer
              @mode="comparison"
              @class="discrepancy-field-renderer base-card-field {{if (eq this.mode "comparison") "comp-view"}}"
              @field={{if field.new field.new field}}
              @comparisonMode={{if field.new true false}}
              @discrepancyView={{if field.new true false}}
            />
          </div>
          <div class="discrepancy-field discrepancy-field--comp-field {{if (eq this.mode "comparison") "comp-view"}}">
            {{#each @model.compCard.isolatedFields as |compField|}}
              {{#if (eq compField.title field.title)}}
                {{compute (fn this.compareFields field compField)}}
                {{#if (and (not field.new) compField.status (not-eq field.title "verifi_id") (eq this.mode "comparison"))}}
                  <IconButton @class="discrepancy-field__btn" @icon="carot" {{on "click" (fn this.reconciliateField field compField)}} />
                {{/if}}
                <FieldRenderer
                  @mode="comparison"
                  @class="discrepancy-field-renderer comp-card-field {{if (eq this.mode "comparison") "comp-view"}}"
                  @field={{compField}}
                  @comparisonMode={{if (eq compField.type 'collection') true (not field.new)}}
                  @discrepancyView={{if (eq compField.type 'collection') true (not field.new)}}
                  @displayId={{this.model.displayId}}
                  @selectChange={{if (eq this.mode "comparison") this.selectChange false}}
                  @revertChange={{if (eq this.mode "comparison") this.revertChange false}}
                />
              {{/if}}
            {{/each}}
          </div>
        {{/each}}

        <div class="discrepancy-card__footer">
          <div class="discrepancy__count-btn-container discrepancy__count-btn-container--left {{if (and this.model.count (eq this.mode "comparison")) "visible"}}">
            {{#if this.model.count}}
              <PillButton @class="discrepancy__count-btn" @variant="primary">
                {{#if (eq this.model.count 1)}}
                  Make 1 change to your version
                {{else}}
                  Make {{this.model.count}} changes to your version
                {{/if}}
              </PillButton>
            {{/if}}
          </div>
        </div>

        <div class="discrepancy-card__footer">
          <div class="discrepancy__count-btn-container discrepancy__count-btn-container--right {{if this.CONDITION "visible"}}">
            {{#if this.CONDITION}}
              <PillButton @class="discrepancy__count-btn" @variant="primary">

              </PillButton>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>