<section>
  <header>
    <h1>Movie Detail - {{@model.movie.title.value}}</h1>
    <LinkTo
      @route="movie-registry.view"
      @model={{@model.movie.id}}
      @class="mode-indicator mode-indicator--revision"
    >
      Revision Mode
    </LinkTo>
  </header>
  <aside>
    <ul>
      {{#each this.versions as |v|}}
        <li>
          <button {{on "click" (fn this.setComparison v.id)}}>Select</button>
          <button {{on "click" (fn this.displayVersion v.id)}}>
            <div>{{v.published}}</div>
            <div>{{v.description}}</div>
          </button>
        </li>
      {{/each}}
    </ul>
    <hr>
  </aside>
  <div>
    {{#each this.versions as |v|}}
      <div>
        <div>
          {{v.published}}
          {{v.description}}
          {{if (eq v.id this.latest) "Current"}}
        </div>
        {{#if (eq v.id this.selected)}}
          <Movie
            @model={{v.savedData}}
            @revisionMode={{true}}
            @addedFields={{this.addedFields}}
            @changedFields={{this.changedFields}}
            @removedFields={{this.removedFields}}
            @mode="view"
            @hideButtons={{true}}
          />
        {{/if}}
      </div>
    {{/each}}
  </div>
</section>