<section class="versions">
  <header class="versions__header">
    <h1 class="versions__title">Movie Detail - {{@model.movie.title.value}}</h1>
  </header>
  <div class="versions__mode">
    <LinkTo @route="movie-registry.view" @model={{@model.movie.id}} @class="mode-indicator mode-indicator--revision">
      Revision Mode
    </LinkTo>
  </div>
  <aside class="versions__nav">
    <div class="versions__nav--shadow" />
    <ul>
      {{#each this.versions as |v|}}
        <li class="versions-nav-item {{if (eq v.id this.selected) "versions-nav-item--selected"}}">
          <button {{on "click" (fn this.displayVersion v.id)}} class="versions-nav-item__btn versions-nav-item__selection-btn">
            <div class="version__description">{{v.description}}</div>
            <div class="version__title">{{v.published}}</div>
            <div class="version__label">{{if (eq v.id this.latest.id) "Current"}}</div>
          </button>
          <button {{on "click" (fn this.setComparison v.id)}} class="versions-nav-item__btn versions-nav-item__selection-checkbox">{{svg-jar "icon-circle" width="16px" height="16px"}}</button>
        </li>
      {{/each}}
    </ul>
  </aside>
  <div class="versions__cards" {{did-insert this.setPositions}}>
    {{#each this.versions as |v i|}}
      <div class="version-card version-card--{{v.position}}">
        <header role="button" {{on "click" (fn this.displayVersion v.id)}} class="version-card__header">
          <div class="version__title">{{v.published}}</div>
          <div class="version__description">{{v.description}}</div>
          <div class="version__label">{{if (eq v.id this.latest.id) "Current"}}</div>
        </header>
        <div class="version-card__content">
          {{#if (eq v.id this.selected)}}
            <Movie
              @model={{v.savedData}}
              @revisionMode={{true}}
              @addedFields={{this.addedFields}}
              @changedFields={{this.changedFields}}
              @removedFields={{this.removedFields}}
              @mode="view"
              @hideButtons={{true}}
            />
          {{/if}}
        </div>
      </div>
    {{/each}}
  <div class="funnel"></div>
  </div>
</section>