<section>
  <header>
    <h1>Movie Detail - {{@model.movie.title.value}}</h1>
    <LinkTo
      @route="movie-registry.view"
      @model={{@model.movie.id}}
      @class="mode-indicator mode-indicator--revision"
    >
      Revision Mode
    </LinkTo>
  </header>
  <aside>
    <ul>
      {{#each @model.versions as |v|}}
        <li>
          <div>
            <div>{{v.published}}</div>
            <div>{{v.description}}</div>
          </div>
        </li>
      {{/each}}
    </ul>
  </aside>
  <div>
    {{#each @model.versions as |v|}}
      <div>
        {{v.published}}
        {{v.description}}
        {{if (eq v.version @model.movie.version) "Current"}}
      </div>
    {{/each}}
  </div>
</section>