<Boxel::Thread class="cardflow" as |t|>
  <t.header
    class="cardflow__header"
    @title={{or this.thread.description this.thread.title}}
    @label={{this.thread.project}}
    @notifications={{if (eq this.thread.status "unread") (array "notif") null}}
    @participants={{this.participants}}
  >
  </t.header>

  <t.taskbar
    @tasksRoute={{@tasksRoute}}
    @activeTasks={{@activeTasks}}
    @userTasks={{@userTasks}}
    @assignedTasks={{@assignedTasks}}
  >
  </t.taskbar>

  <t.content>
    {{#each @model.posts as |post|}}
      <Boxel::Thread::Message
        class={{if (eq post.participantType "bot") "cardflow__bot-message" ""}}
        @senderName={{post.sender.title}}
        @senderImage={{post.sender.imgURL}}
        @senderDescription={{or post.sender.role post.participantType}}
        @content={{post.content}}
        @datetime={{post.datetime}}
      >
      </Boxel::Thread::Message>
    {{/each}}

    {{!-- TODO: Extract component - Reply to message box --}}
    {{#if (includes @model.user.id @model.thread.participant_ids)}}
      <div class="cardflow__message">
        <div class="cardflow__message-icon__profile" style={{css-url "background-image" @model.user.imgURL}} />
        <Input @class="cardflow__reply-to field-renderer__input" @placeholder="Post a message to this thread"></Input>
      </div>
    {{/if}}
  </t.content>

  <t.sidebar>
    {{#if @model.workflow}}
      <Boxel::Thread::ProgressBox
        @progressCircleTitle="Workflow Progress"
        @milestonesTitle={{@model.workflow.title}}
        @status={{this.milestone.description}}
      as |progressBox|>
        <progressBox.progressCircle
          @size={{120}}
          @percentComplete={{this.milestone.pct}}
        />
        <progressBox.milestones
          @milestones={{@model.workflow.milestones}}
          @completedCount={{this.milestoneId}}
        />
      </Boxel::Thread::ProgressBox>
    {{/if}}

    <Boxel::Thread::ParticipantsBox
    as |participantsBox|>
      {{#if this.otherParticipants}}
        <participantsBox.participants
          @participants={{this.otherParticipants}}
        />
      {{/if}}
      {{#if this.participatingOrgMembers}}
        <participantsBox.participants
          class="cardflow__org-members"
          @participants={{this.participatingOrgMembers}}
        />
      {{/if}}
    </Boxel::Thread::ParticipantsBox>
  </t.sidebar>

</Boxel::Thread>