<Boxel::Thread class="cardflow" as |t|>
  <t.header
    class="cardflow__header"
    @title={{or this.thread.description this.thread.title}}
    @label={{this.thread.project}}
    @notifications={{if (eq this.thread.status "unread") (array "notif") null}}
    @participants={{this.participants}}
  >
  </t.header>

  <t.taskbar
    @tasksRoute={{@tasksRoute}}
    @activeTasks={{@activeTasks}}
    @userTasks={{@userTasks}}
    @assignedTasks={{@assignedTasks}}
  >
  </t.taskbar>

  <t.content>
    {{#each @model.posts as |post|}}
      <Boxel::Thread::Message
        class={{if (eq post.participantType "bot") "cardflow__bot-message" ""}}
        @senderName={{post.sender.title}}
        @senderImage={{post.sender.imgURL}}
        @senderDescription={{or post.sender.role post.participantType}}
        @content={{post.content}}
        @datetime={{post.datetime}}
      >
      </<Boxel::Thread::Message>
    {{/each}}

    {{!-- Reply to message box --}}
    {{#if (includes @model.user.id @model.thread.participant_ids)}}
      <div class="cardflow__message">
        <div class="cardflow__message-icon__profile" style={{css-url "background-image" @model.user.imgURL}} />
        <Input @class="cardflow__reply-to field-renderer__input" @placeholder="Post a message to this thread"></Input>
      </div>
    {{/if}}
  </t.content>

  <t.sidebar>
    {{#if @model.workflow}}
      <Boxel::Thread::ProgressBox
        @progressCircleTitle="Workflow Progress"
        @milestonesTitle={{@model.workflow.title}}
        @status={{this.milestone.description}}
      as |progressBox|>
        <progressBox.progressCircle
          @size={{120}}
          @percentComplete={{this.milestone.pct}}
        />
        <progressBox.milestones
          @milestones={{@model.workflow.milestones}}
          @completedCount={{this.milestoneId}}
        />
      </Boxel::Thread::ProgressBox>
    {{/if}}

      {{!-- <s.card as |c|>
        <c.section class="cardflow__sidebar-section" @title="Workflow Progress">
          <div class="cardflow__progress">
            <Boxel::ProgressCircle
              @size={{120}}
              @percentComplete={{this.milestone.pct}}
            />
            <div class="cardflow__progress-status">{{this.milestone.description}}</div>
          </div>
        </c.section>

        <c.section class="cardflow__sidebar-section" @title={{@model.workflow.title}}>
          <ul class="cardflow__checklist">
            {{#each @model.workflow.milestones as |milestone i|}}
              <li class="cardflow__checklist-item {{if (gt this.milestoneId (add i 1)) "completed"}} {{if (eq this.milestoneId (add i 1)) "current"}}">
                {{svg-jar (if (gt this.milestoneId (add i 1)) "check-mark" "checklist-circle") width="16px" height="16px"}}
                {{milestone.title}} --}}
                {{!-- <br><span class="cardflow__checklist-time">12h ago</span> --}}
              {{!-- </li>
            {{/each}}
          </ul>
        </c.section>
      </s.card> --}}

    {{!-- Participants Box --}}
    <CardPlatter @class="cardflow-platter">
      <section class="cardflow__sidebar-section cardflow__sidebar-section--participants">
        <h3 class="cardflow__sidebar-title">Participants</h3>
        {{#if this.otherParticipants}}
          <ul class="cardflow__participants">
            {{#each this.otherParticipants as |participant|}}
              <li class="cardflow__participant">
                <div class="cardflow__participant-img" style={{css-url "background-image" participant.imgURL}} />
                <div class="cardflow__participant-title">
                  {{participant.title}}
                  <div class="cardflow__participant-role">{{participant.role}}</div>
                </div>
              </li>
            {{/each}}
          </ul>
        {{/if}}
        <ul class="cardflow__participants">
          <li class="cardflow__participant cardflow__participant-org">
            <div class="cardflow__participant-org-img" style={{css-url "background-image" this.org.imgURL}} />
            <div class="cardflow__participant-org-title">{{this.org.title}}</div>
          </li>
          {{#each this.participatingOrgMembers as |participant|}}
            <li class="cardflow__participant">
              <div class="cardflow__participant-img" style={{css-url "background-image" participant.imgURL}} />
              <div class="cardflow__participant-title">
                {{participant.title}}
                <div class="cardflow__participant-role">{{participant.role}}</div>
              </div>
            </li>
          {{/each}}
        </ul>
      </section>
    </CardPlatter>
  </t.sidebar>

</Boxel::Thread>