<FreestyleAnnotation @slug="layout-customization-card">
  <p>
    <ul>
      <li><code>@mode</code> (String) — Options: <code>"edit"</code>, <code>"view"</code>. Defaults to <code>"view"</code>.</li>
    </ul>
  </p>
</FreestyleAnnotation>

<FreestyleUsage @slug="layout-customization-card">
  <Doc::ModeSwitch @mode={{this.mode}} @updateFieldValue={{pick 'target.name' (fn (mut this.mode))}} />
  <br>

  <Boxel::LayoutCustomization
    @mode={{this.mode}}
    @issuerName={{this.issuerName}}
    @updateIssuerName={{pick 'target.value' (fn (mut this.issuerName))}}
    @colorOptions={{this.colorOptions}}
    @headerColor={{this.headerColor}}
    @updateHeaderColor={{fn this.updateHeaderColor}}
    @patternOptions={{this.patternOptions}}
    @headerPattern={{this.headerPattern}}
    @updateHeaderPattern={{pick 'target.value' (fn (mut this.headerPattern))}}
  />
</FreestyleUsage>