<AnimatedContainer onInitialRender={{true}}>
  {{#animated-value @datetime initialInsertion=true use=this.transition}}
    <div class="boxel-thread-message" ...attributes>
      <Boxel::Participant
        class="boxel-thread-message__participant"
        @iconOnly={{true}}
        @iconSize={{this.iconSize}}
        @hasLogo={{this.hasLogo}}
        @image={{@imgURL}}
      />

      <div>
        <div class="boxel-thread-message__info">
          {{#if @name}}
            <h4 class="boxel-thread-message__sender-name">
              {{@name}}
            </h4>
          {{/if}}
          <time class="boxel-thread-message__time">{{moment-format (or @datetime (now)) "MMM D, h:mm A"}}</time>
        </div>
        <AnimatedContainer onInitialRender={{true}} class="boxel-thread-message__content">
          {{#if (is-array @content)}}
            {{#animated-each @content initialInsertion=true use=this.transition as |content|}}
              <p>{{content}}</p>
            {{/animated-each}}
          {{else}}
            {{@content}}
          {{/if}}
        </AnimatedContainer>
      </div>
    </div>
  {{/animated-value}}
</AnimatedContainer>