<article class="boxel-thread" data-test-boxel-thread ...attributes>
  <div class="boxel-thread__sticky-container">
    {{yield to="header"}}
  </div>

  <div class="boxel-thread__content-wrapper">
    <div
      class="boxel-thread__scroll-wrapper"
      tabindex="0"
      {{did-insert this.setScrollEl}}
      {{visibility-checker
        watchedElement=this.watchedElement
        onElementVisible=this.onElementVisible
        onElementHidden=this.onElementHidden
        initArgs=(hash
          rootMargin="0px 0px 40px 0px"
          threshold=0
        )
      }}
    >
      <div class="boxel-thread__sticky-container">
        {{yield to="taskbar"}}
      </div>
      <section class="boxel-thread__content" {{contents-modified onChildrenAdded=this.scrollDownToFirst}}>
        {{yield this.setWatchedElement to="content"}}
      </section>
      <div style="position: absolute; bottom: 0;">
        {{#if this.showFooter}}
          {{yield to="footer"}}
        {{/if}}
      </div>
    </div>
    <div class="boxel-thread__scroll-wrapper" tabindex="0">
      <Boxel::Sidebar class="boxel-thread__sidebar" as |SidebarSection|>
        {{yield SidebarSection to="sidebar"}}
      </Boxel::Sidebar>
    </div>
  </div>
</article>