<div
  class="progress-circle"
  style={{html-safe (concat "width:" this.size "px;height:" this.size "px;")}}
  ...attributes
>
  <div
    class="progress-circle__pie"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width={{this.size}} height={{this.size}} viewBox="0 0 {{this.outerCircleDiameter}} {{this.outerCircleDiameter}}">
      <g fill="none" stroke="var(--icon-color, #e8e8e8)" stroke-width="12">
        <circle 
          cx={{this.outerCircleRadius}} 
          cy={{this.outerCircleRadius}}  
          r="54" 
          fill="none" 
          style={{html-safe (concat "stroke-dasharray:" (mult (div @percentComplete 100) 339) " " 339)}}
        />
      </g>
    </svg>
  </div>
  <div
    class="progress-circle__pct-label"
    style={{html-safe (concat "font-size:" this.fontSize "px;width:" this.innerCircleSize "px; height:" this.innerCircleSize "px;")}}
  >
    {{this.humanPercentComplete}}%
  </div>
</div>
