<FreestyleAnnotation @slug="string-field">
  <p>
    <ul>
      <li><code>@mode</code> (String) — Options: edit, view. Defaults to <code>view</code>.</li>
      <li><code>@fieldLabel</code> (String)</li>
      <li><code>@fieldValue</code> (String)</li>
    </ul>
  </p>
</FreestyleAnnotation>

<FreestyleUsage @slug="string-field">
  <Doc::ModeSwitch @mode={{this.mode}} @updateFieldValue={{pick 'target.name' (fn (mut this.mode))}} />
  <br>

  <Boxel::StringField
    @mode={{this.mode}}
    @fieldLabel="Name of Issuer"
    @fieldValue={{this.value}}
    @updateFieldValue={{pick 'target.value' (fn (mut this.value))}}
  />
</FreestyleUsage>