<Boxel::Thread::SidebarCard ...attributes as |c|>
  <c.section @title={{@progressCircleTitle}}>
    {{yield (hash
      progressCircle=(component 'boxel/progress-circle')
    )}}
    <div class="progress-box__status">
      {{@status}}
    </div>
  </c.section>
  <c.section @title={{or @milestonesTitle "Milestones"}}>
    {{yield (hash
      milestones=(component 'boxel/milestones')
    )}}
  </c.section>
</Boxel::Thread::SidebarCard>