<section class="media-registry media-registry--{{@model.currentOrg.id}}">
  <aside class="media-registry__left-edge with-queue">
    <LeftEdgeNav
      @orgs={{@model.userOrgs}}
      @current={{@model.currentOrg.id}}
      @user={{@model.user}}
    />

    <div class="media-registry__left-edge-queue slide-in">
      <CardflowQueue
        @class="media-registry__queue"
        @model={{@model}}
        @selectCard={{this.selectCard}}
        {{!-- @currentMilestone={{this.currentMilestone}}
        @updateProgress={{this.updateProgress}} --}}
      />
    </div>
  </aside>

  <main class="media-registry__outlet">
    <section class="workflow-project">
      <header class="workflow-project__header">
        <div>
          <div class="workflow-project__label">Project</div>
          <h1 class="workflow-project__title">Title TK</h1>
        </div>
        <div class="workflow-project__participants">
          X people can see this project
          {{svg-jar "users" width="15px" height="13px"}}
        </div>
      </header>

      {{outlet}}
    </section>
  </main>
</section>