<div class="actor">
  <img class="actor__img" src="/assets/images/{{@actor.profile}}" alt="{{@actor.fullName}} profile" width="60px" height="60px">
  <div class="actor__name">{{@actor.firstName}} {{@actor.lastName}}</div>
  <div class="actor__role">{{@actor.role}}</div>
</div>