{{#if (eq @mode "edit")}}
  <div class="edit-field edit-field--{{dasherize @fieldName}}-field" data-test-edit-field="collection-editors">
    <div class="edit-field__title">{{humanize (dasherize @fieldName)}}</div>
    <div class="edit-field__value">
      {{#if (eq @format "tagList")}}
        <div class="collection-editor collection-taglist-editor">
          <ul class="collection-taglist-editor__list">
            {{#each @field.value as |item|}}
              <li class="collection-taglist-editor__list-item">
                <span class="collection-taglist-editor__text">{{item.title}}</span>
                <button class="collection-taglist-editor__btn remove-btn" aria-label="remove">{{svg-jar "close" width="8px" height="8px"}}</button>
              </li>
            {{/each}}
          </ul>
          <button class="collection-taglist-editor__btn add-btn" aria-label="add">{{svg-jar "icon-plus-circle" width="16px" height="16px"}}</button>
        </div>
      {{else if (eq @format "grid")}}
        <div class="collection-editor collection-editor--grid-view">
          <h4>Photos ({{@field.value.length}})</h4>
          {{#each @field.value as |item|}}
            <div class="collection-grid-editor__item">
              <div class="photo">
                <div class="photo__img-container">
                  <img src="/assets/images/{{item.src}}" alt={{item.altText}}>
                </div>
                <h4 class="photo__title">{{item.title}}</h4>
                <div class="photo__created">Created {{item.created}}</div>
              </div>
              <div class="collection-editor__btn-group">
                <button class="collection-editor__select-btn" aria-label="select">{{svg-jar "icon-circle" width="16px" height="16px"}}</button>
                <button class="collection-editor__select-btn" aria-label="remove">{{svg-jar "icon-minus-circle" width="16px" height="16px"}}</button>
              </div>
            </div>
          {{/each}}
          <button class="collection-editor__view-all-btn">View all ({{@field.value.length}})</button>
          <button class="collection-editor__add-btn">{{svg-jar "icon-plus-circle" width="18px" height="18px"}}</button>
        </div>
      {{else if (eq @format "list")}}
        <div class="collection-editor">
          <button class="collection-list-editor__collection-btn {{if this.listSelected "selected"}}" {{on "click" this.listSelect}} />
          <h4>Actor Profiles ({{this.list.length}})</h4>
          {{#if this.listSelected}}
            <div class="highlight-btn-group">
              <button class="highlight-btn highlight-btn--more-actions" aria-label="more actions" />
              <button class="highlight-btn highlight-btn--expand" aria-label="expand" />
            </div>
            <div class="collection-list-editor__select">
              <button {{on "click" this.toggleSelectAll}} class="collection-editor__select-btn collection-list-editor__select-btn" aria-label="Select all">
                {{#if this.selectedAll}}
                  {{svg-jar "icon-circle-selected" width="16px" height="16px"}}
                {{else if this.pickedItems}}
                  {{svg-jar "icon-select-partial" width="16px" height="16px"}}
                {{else}}
                  {{svg-jar "icon-circle" width="16px" height="16px"}}
                {{/if}}
              </button>
              <div class="collection-editor__select-all">
                {{#if this.pickedItems}}
                  {{this.pickedItems}} selected
                {{else}}
                  Select all
                {{/if}}
              </div>
            </div>
          {{/if}}
          {{#each @field.value as |actor|}}
            <div class="collection-list-editor__item-container {{if this.listSelected "collection-list-editor__select"}}">
              {{#if this.listSelected}}
                <button
                  {{on "click" (fn this.togglePick actor.id)}}
                  class="collection-editor__select-btn collection-list-editor__select-btn">
                    {{#if actor.picked}}
                      {{svg-jar "icon-circle-selected" width="16px" height="16px"}}
                    {{else}}
                      {{svg-jar "icon-circle" width="16px" height="16px"}}
                    {{/if}}
                </button>
              {{/if}}
              {{#if actor.selected}}
                <div class="highlight-btn-group">
                  <button class="highlight-btn highlight-btn--more-actions" aria-label="more actions" {{on "click" this.openItemActionsMenu}} />
                  <button class="highlight-btn highlight-btn--expand" aria-label="expand" {{on "click" this.expand}} />
                </div>
              {{/if}}
              <button class="collection-list-editor__item-btn {{if actor.selected "selected"}}" {{on "click" (fn this.itemSelect actor.id)}}>
                <div class="actor">
                  <img class="actor__img" src="/assets/images/{{actor.profile}}" alt="{{actor.fullName}} profile" width="60px" height="60px">
                  <div class="actor__name">{{actor.firstName}} {{actor.lastName}}</div>
                  <div class="actor__role">{{actor.role}}</div>
                </div>
              </button>
              {{#if this.listSelected}}
                <button class="collection-editor__select-btn collection-list-editor__select-btn">{{svg-jar "icon-minus-circle" width="16px" height="16px"}}</button>
              {{/if}}
            </div>
          {{/each}}
          <button class="collection-editor__view-all-btn">View all ({{this.list.length}})</button>
          <button class="collection-editor__add-btn">{{svg-jar "icon-plus-circle" width="18px" height="18px"}}</button>
        </div>
      {{/if}}
    </div>
  </div>
{{else}}
  {{#if (eq @format "tagList")}}
    {{#each @field.value as |genre i|}}
      {{#if (eq i (sub @field.value.length 1))}}
        {{genre.title}}
      {{else}}
        {{genre.title}},
      {{/if}}
    {{/each}}
  {{else if (eq @format "grid")}}
    <div class="collection-grid" data-test-view-field="collection-grid">
      {{#each @field.value as |item|}}
        <div class="collection-grid__item">
          <img src="/assets/images/{{item.src}}" alt={{item.altText}}>
        </div>
      {{/each}}
    </div>
  {{else if (eq @format "list")}}
    <div class="collection-list" data-test-view-field="collection-list">
      {{#each @field.value as |actor|}}
        <div class="actor">
          <img class="actor__img" src="/assets/images/{{actor.profile}}" alt="{{actor.fullName}} profile" width="60px" height="60px">
          <div class="actor__name">{{actor.firstName}} {{actor.lastName}}</div>
          <div class="actor__role">{{actor.role}}</div>
        </div>
      {{/each}}
    </div>
  {{/if}}
{{/if}}