<div class="event--container-content--nav">
  <LinkTo @route="events.view" @model={{model}} class="btn-done">Done</LinkTo>
  <button class="btn-more" {{action "toggleModeMenu"}}></button>
  {{#if this.showModeMenu}}
    <div class="mode-menu">
      <nav>
        <ul>
          <li><LinkTo @route="catalog.events.view" @model={{model}}>View as Layout</LinkTo></li>
          <li><LinkTo @route="catalog.events.edit" @model={{model}}>View as Form</LinkTo></li>
          <li><LinkTo @route="catalog.events.schema" @model={{model}}>View as Schema</LinkTo></li>
        </ul>
      </nav>
    </div>
  {{/if}}
</div>