<div class="layout-customization-editor" ...attributes>
  <header class="layout-customization-editor__header">
    Layout Customization
  </header>

  <section class="layout-customization-editor__body">
    <p class="layout-customization-editor__prompt">
      Customize the layout of your Prepaid Card
    </p>

    <ul class="layout-customization-editor__fields">
      <li class="layout-customization-editor__preview-field">
        <Boxel::PrepaidCard
          @issuerName={{or @issuerName "Enter name"}}
          @issuerIcon={{@issuerIcon}}
          @headerColor={{@headerColor.value}}
          @darkTheme={{eq @headerColor.theme 'dark'}}
          @headerPattern={{@headerPattern}}
          @balance={{1234}}
          @accountAddress="0x1234...5678"
          @accountNetwork="xDai Chain"
        />
        <span class="layout-customization-editor__label">
          Card Preview
        </span>
      </li>
      <li>
        <Boxel::StringField
          class="layout-customization-editor__field"
          @mode="edit"
          @fieldLabel="Name of Issuer"
          @fieldValue={{@issuerName}}
          @updateFieldValue={{@updateIssuerName}}
        />
      </li>
      {{!-- TODO: Extract dropdown component --}}
      <li>
        <label class="layout-customization-editor__field">
          <span class="layout-customization-editor__label">Background Color</span>
          <PowerSelect
            class="layout-customization-editor__dropdown"
            @options={{@colorOptions}}
            @selected={{@headerColor}}
            @onChange={{@updateHeaderColor}}
            @renderInPlace={{true}}
            @verticalPosition="below"
          as |option|>
            <div class="layout-customization-editor__dropdown-option">
              <span
                class="layout-customization-editor__dropdown-option-icon"
                style={{css-var headerColor=option.value}}
              />
              <span class="layout-customization-editor__dropdown-option-title">
                {{option.title}}
              </span>
            </div>
          </PowerSelect>
        </label>
      </li>
      <li>
        <label class="layout-customization-editor__field">
          <span class="layout-customization-editor__label">Pattern</span>
          <PowerSelect
            class="layout-customization-editor__dropdown"
            @options={{@patternOptions}}
            @selected={{@headerPattern}}
            @onChange={{@updateHeaderPattern}}
            @renderInPlace={{true}}
            @verticalPosition="below"
          as |option|>
            <div class="layout-customization-editor__dropdown-option">
              <span
                class="layout-customization-editor__dropdown-option-icon"
                style={{css-var headerPattern=option.value}}
              />
              <span class="layout-customization-editor__dropdown-option-title">
                {{option.title}}
              </span>
            </div>
          </PowerSelect>
        </label>
      </li>
    </ul>
  </section>

  <footer class="layout-customization-editor__footer">
    <Boxel::Button
      @primary={{true}}
      @disabled={{@disabled}}
    >
      Save layout
    </Boxel::Button>
    <span class="layout-customization-editor__footer-text">
      Actions only visible to you
      {{svg-jar "lock" width="12px" height="12px"}}
    </span>
  </footer>
</div>