<Freestyle::Usage @name="Sidebar">
  <:example>
  <div>Three examples:</div>
    <div class="sidebar-usage-container">

      <Boxel::Sidebar as |SidebarSection|>
        <SidebarSection @border={{false}} @title="Section Title">
          <div>Content goes here!</div>
          <div>Some more goes here!</div>
        </SidebarSection>
        <SidebarSection @border={{false}} @title="Another Title">
          <div>Content goes here!</div>
          <div>Some more goes here!</div>
        </SidebarSection>
      </Boxel::Sidebar>

      <Boxel::Sidebar as |SidebarSection|>
        <SidebarSection @border={{true}} @header="Section Title">
          <div>Content goes here!</div>
          <div>Some more goes here!</div>
        </SidebarSection>
        <SidebarSection @border={{true}} @header="Another Section">
          <div>Content goes here!</div>
          <div>Some more goes here!</div>
        </SidebarSection>
      </Boxel::Sidebar>

      <Boxel::Sidebar as |SidebarSection|>
        <SidebarSection @border={{true}} @header="Section Title" @attachNext={{true}}>
          <div>Content goes here!</div>
          <div>Some more goes here!</div>
        </SidebarSection>
        <SidebarSection @border={{true}} @header="Another Section">
          <div>Notice how this one is attached to the one above!</div>
          <div>Some more goes here!</div>
          <div>Lots of great stuff!</div>
          <div>Some more goes here!</div>
        </SidebarSection>
        <SidebarSection @border={{true}} @header="A Third Section">
          <div>Content goes here!</div>
          <div>Some more goes here!</div>
        </SidebarSection>
      </Boxel::Sidebar>

    
    </div>
  </:example>
</Freestyle::Usage>
