<div class="cards-list triplet">
  {{#each model as |card|}}
    {{#if (eq card.id "1")}}
      <Boxel @format={{if (eq cardNumber card.id) "embedded" "thumbnail"}} @name={{concat "card-" card.id}} @clickAction={{action "toMotionOne" card.id}}>
        <div class="card-{{card.id}}">
          {{card.title}}
        </div>
      </Boxel>
    {{else}}
      <Boxel @format={{if (eq cardNumber card.id) "embedded" "thumbnail"}} @name={{concat "card-" card.id}} @clickAction={{action "expand" card.id}}>
        <div class="card-{{card.id}}">
          {{card.title}}
        </div>
      </Boxel>
    {{/if}}
  {{/each}}
  </div>