<div class="cards-list">
  <div>
    <h1>Animation Details</h1>
    <strong>Component:</strong> animated-if<br>
    <strong>Depending on attribute:</strong> isExpanded<br>
    <strong>Sprites:</strong> InsertedSprites, removedSprites<br>
    <strong>Transition:</strong> fadeIn, fadeOut from ember-animated/motion/opacity

    <br><br>

    <h2>Notes / TODO:</h2>
    Use card instead of button.<br>
    Use boxel component.<br>
    Add easing.
  </div>

  <button {{action "toggleExpand"}}>Toggle Expand</button>

  {{#animated-if isExpanded use=this.transition duration=500}}
    <div class="card card-{{model.id}} expanded">
      {{model.title}}
    </div>
  {{else}}
    <div class="card card-{{model.id}}">
      {{model.title}}
    </div>
  {{/animated-if}}
</div>