<aside class="cardflow-queue">
  <header class="cardflow-queue__header">
    <div class="cardflow-queue__company {{if @model.alternateLogoURL "cardflow-queue__company--with-logo"}}" style={{css-url "background-image" @model.alternateLogoURL}}>
      {{@model.company}}
    </div>
    <hr>
    <div class="cardflow-queue__user">
      <div>{{@model.user.name}}</div>
      <div>{{@model.user.title}}</div>
    </div>
    <hr>
    <div>
      Filter Notifications
    </div>
  </header>
  <hr>

  <section class="cardflow-queue__section">
    <header>Open</header>
    {{#let (filter-by "status" "open" @model.user.queueCards) as |cards|}}
      {{#each cards as |card|}}
        <QueueCard @card={{card}} />
      {{/each}}
    {{/let}}
  </section>

  <section class="cardflow-queue__section">
    <header>Needs Response</header>
    {{#let (filter-by "status" "needs-response" @model.user.queueCards) as |cards|}}
      {{#each cards as |card|}}
        <QueueCard @card={{card}} />
      {{/each}}
    {{/let}}
  </section>

  <section class="cardflow-queue__section">
    <header>Recent</header>
    {{#let (filter-by "status" "recent" @model.user.queueCards) as |cards|}}
      {{#each cards as |card|}}
        <QueueCard @card={{card}} />
      {{/each}}
    {{/let}}
  </section>
</aside>