<div class="cardflow">
  <header class="cardflow__header">
    <div>
      <div class="cardflow__project-title">{{@model.user.queueCards.0.projectTitle}}</div>
      <div class="cardflow__title">Catalog transfer from Bunny Records to CRD Records for 16 masters</div>
    </div>
    <LinkTo @route="media-registry" @model={{@model.id}} @class="mode-indicator mode-indicator--workflow">
      Workflow mode
    </LinkTo>
  </header>

  <div class="cardflow__thread">

    <div class="cardflow__message">
      <div class="cardflow__message-row">
        <div class="cardflow__message-icon" style={{css-url "background-image" "/media-registry/profiles/Lisa-Track.jpg"}}></div>
        <div class="cardflow__message-sender">
          <span class="cardflow__message-sender-name">Lisa Track</span> <time>2:19 PM</time>
          <div>Administrator</div>
        </div>
      </div>
      <div class="cardflow__message-row">
        <div></div>
        <div class="cardflow__message-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed scelerisque ex, sed elementum lorem. Phasellus sit amet ipsum in tellus vestibulum tincidunt. Etiam rhoncus, orci quis elementum pulvinar, leo lectus feugiat ligula, vel tincidunt massa elit eu augue. Nulla eget tortor non est ullamcorper egestas eu sit amet justo. Cras consectetur tempor dui, eget finibus orci vestibulum vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec faucibus mi sed turpis posuere euismod. Sed leo erat, ultricies non ligula eu, ornare consectetur justo. Nam a aliquam metus. Ut congue volutpat turpis lobortis facilisis.
        </div>
      </div>
    </div>

    <div class="cardflow__message">
      <div class="cardflow__message-row">
        <div class="cardflow__message-icon" style={{css-url "background-image" "/media-registry/profiles/Steve-Rights.jpg"}}></div>
        <div class="cardflow__message-sender">
          <span class="cardflow__message-sender-name">Steve Rights</span> <time>2:26 PM</time>
          <div>Catalog Manager</div>
        </div>
      </div>
      <div class="cardflow__message-row">
        <div></div>
        <div class="cardflow__message-content">
          Donec non orci tellus. Aenean ac nibh imperdiet, sollicitudin risus eu, malesuada ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam commodo sed lorem posuere lobortis. Nam a condimentum nulla, nec tempor dolor.
        </div>
      </div>
    </div>

    <div class="cardflow__message-divider">
      <div class="cardflow__message-divider-border" />
      <div class="cardflow__message-divider-date">August 31, 2020</div>
    </div>

    <div class="cardflow__message">
      <div class="cardflow__message-row">
        <div class="cardflow__message-icon" style={{css-url "background-image" "/media-registry/profiles/Lisa-Track.jpg"}}></div>
        <div class="cardflow__message-sender">
          <span class="cardflow__message-sender-name">Lisa Track</span> <time>2:49 PM</time>
          <div>Administrator</div>
        </div>
      </div>
      <div class="cardflow__message-row">
        <div></div>
        <div class="cardflow__message-content">
          Hi Steve,
          As discussed, we are transferring the rights to 13 of Pia Midina’s and 3 of BB Clarke’s recordings to CRD Records.<br>
          Best regards,
          Lisa
        </div>
      </div>
    </div>





  </div>

  <aside class="cardflow__sidebar">
    <section class="cardflow__sidebar-section">
      <h3 class="cardflow__sidebar-title">Progress</h3>
      <div class="cardflow__progress">
        {{svg-jar "progress-circle" width="125px" height="125px"}}
        <div class="cardflow__progress-status">Proposal Submitted</div>
      </div>
    </section>

    <section class="cardflow__sidebar-section">
      <h3 class="cardflow__sidebar-title">Checklist</h3>
      <CardPlatter>
        <div class="cardflow__checklist-time">2h ago</div>
        <ul class="cardflow__checklist">
          <li class="cardflow__checklist-item completed">{{svg-jar "checkmark-lg" width="16px" height="16px"}} Propose</li>
          <li class="cardflow__checklist-item current">{{svg-jar "progress-circle" width="16px" height="16px"}} Review</li>
          <li class="cardflow__checklist-item">{{svg-jar "progress-circle" width="16px" height="16px"}} Accept</li>
          <li class="cardflow__checklist-item">{{svg-jar "progress-circle" width="16px" height="16px"}} Amend</li>
          <li class="cardflow__checklist-item">{{svg-jar "progress-circle" width="16px" height="16px"}} Redeliver</li>
        </ul>
      </CardPlatter>
    </section>

    <section class="cardflow__sidebar-section">
      <h3 class="cardflow__sidebar-title">Participants</h3>
      <CardPlatter>
        {{#each @model.orgs as |participant|}}
          <div class="cardflow__participants">
            <div class="cardflow__participant">
              <div class="cardflow__participant-company-img" style={{css-url "background-image" participant.iconURL}} />
              <div class="cardflow__participant-company">{{participant.company}}</div>
            </div>
            <div class="cardflow__participant">
              <div class="cardflow__participant-user-img" style={{css-url "background-image" participant.user.imgURL}} />
              <div class="cardflow__participant-user">
                {{participant.user.name}}<br>
                <span>{{participant.user.title}}</span>
              </div>
            </div>
          </div>
        {{/each}}
      </CardPlatter>
    </section>
  </aside>
</div>