<div class="wave-player">
  <IconButton onclick={{perform this.playPause}} @class="wave-player__play" @icon={{if this.isPlaying "pause-btn-sm" "play-btn-sm"}} @width="30px" @height="30px" />
  <canvas {{did-insert this.setupPlayer}}
    role="button"
    width={{this.width}} height={{this.height}} style={{this.style}}
    onclick={{this.canvasClick}}
  >
  </canvas>

  <div class="wave-player__times">
    {{media-duration this.currentTime}} / {{media-duration this.duration}}
  </div>
</div>