<div class="layout-customization-viewer" ...attributes>
  <header class="layout-customization-viewer__header">
    Layout Customization
  </header>

  <section class="layout-customization-viewer__body">
    <p class="layout-customization-viewer__prompt">
      Customize the layout of your Prepaid Card
    </p>

    <div class="layout-customization-viewer__content">
      <div class="layout-customization-viewer__preview">
        <div class="layout-customization-viewer__scaled-card">
          <Boxel::PrepaidCard
            @issuerName={{@issuerName}}
            @issuerIcon={{@issuerIcon}}
            @headerColor={{@headerColor.value}}
            @darkTheme={{eq @headerColor.theme 'dark'}}
            @headerPattern={{@headerPattern}}
            @balance={{1234}}
            @accountAddress="0x123499999995678"
            @accountNetwork="xDai Chain"
          />
        </div>
        <span class="layout-customization-viewer__preview-text">
          Card Preview
        </span>
      </div>

      <ul class="layout-customization-viewer__fields">
        <li>
          <Boxel::StringField
            class="layout-customization-viewer__field"
            @mode="view"
            @fieldLabel="Name of Issuer"
            @fieldValue={{@issuerName}}
          />
        </li>
        <li>
          <div
            class="layout-customization-viewer__sampler"
            style={{css-var headerColor=@headerColor.value}}
          />
        </li>
        <li>
          <div
            class="layout-customization-viewer__sampler"
            style={{css-var headerPattern=@headerPattern.value}}
          />
        </li>
      </ul>
    </div>
  </section>

  <footer class="layout-customization-viewer__footer">
    <Boxel::Button
      @secondary={{true}}
      @disabled={{@disabled}}
    >
      Edit layout
    </Boxel::Button>
    <span class="layout-customization-viewer__footer-text">
      Actions only visible to you
      {{svg-jar "lock" width="12px" height="12px"}}
    </span>
  </footer>
</div>