<div class={{cn
    "boxel-embedded-card-container"
    boxel-embedded-card-container--selected=@isSelected
  }}
  data-test-boxel-embedded-card-container
  ...attributes
>
  {{#if @displayHeader}}
    <Boxel::Header
      class="boxel-embedded-card-container__header"
      @header={{@header}}
      @selectionHeader={{@selectionHeader}}
      @isSelected={{@isSelected}}
      @editable={{@editable}}
      @hasContextMenu={{@hasContextMenu}}
      @expandable={{@expandable}}
      @noBackground={{@noHeaderBackground}}
    />
  {{/if}}

  <div class={{cn
      "boxel-embedded-card-container__content"
      boxel-embedded-card-container__content--with-header=@displayHeader
    }}
  >
    {{yield}}
  </div>
</div>