<div class="boxel-embedded-card-container" data-test-boxel-embedded-card-container ...attributes>
  {{#if @displayHeader}}
    <Boxel::Header
      class="boxel-embedded-card-container__header"
      @header={{@header}}
      @selectionHeader={{@selectionHeader}}
      @isSelected={{@isSelected}}
      @editable={{@editable}}
      @hasContextMenu={{@hasContextMenu}}
      @expandable={{@expandable}}
      @noBackground={{@noHeaderBackground}}
    />
  {{/if}}

  <div class="boxel-embedded-card-container__content">
    {{yield}}
  </div>
</div>