<Freestyle::Usage @name="CardContainer">
  <:description>
    Container for an embedded card.
  </:description>

  <:example>
    <Boxel::CardContainer
      @displayBoundaries={{this.displayBoundaries}}
      @isSelected={{this.isSelected}}
    >
      <div>
        Card Here
      </div>
    </Boxel::CardContainer>

    <br>

    <Boxel::CardContainer
      @hasHeader={{true}}
      @displayBoundaries={{this.displayBoundaries}}
      @isSelected={{this.isSelected}}
    >
      <Boxel::Header
        @header="Card"
        @isSelected={{this.isSelected}}
        @selectionHeader={{true}}
      />

      <div>
        Card Here
      </div>
    </Boxel::CardContainer>
  </:example>

  <:api as |Args|>
    <Args.Bool
      @name="hasHeader"
      @description="container grid will accommodate header space"
      @defaultValue={{false}}
    />
    <Args.Bool
      @name="displayBoundaries"
      @description="if true, card borders will be visible"
      @defaultValue={{false}}
      @value={{this.displayBoundaries}}
      @onInput={{fn (mut this.displayBoundaries)}}
    />
    <Args.Bool
      @name="isSelected"
      @description="borders will be highlighted"
      @defaultValue={{false}}
      @value={{this.isSelected}}
      @onInput={{fn (mut this.isSelected)}}
    />
    <Args.Yield
      @description="Unstyled area for custom card content and fields"
    />
  </:api>
</Freestyle::Usage>