<MediaCollection @model={{@model}} as |item|>
  <LinkTo @route="media-registry.collection" @model={{dasherize item.catalog_title}}>
    <div>
      <h3>{{item.catalog_title}}</h3>
      <div>{{item.catalog_description}}</div>
      {{!-- Album art --}}
      <div>{{item.number_of_songs}}</div>
    </div>
  </LinkTo>
</MediaCollection>