<div class="item__wrapper">
  <div class="breadcrumbs">
    <LinkTo @route="media-registry" @class="breadcrumbs__pill">Master Recordings</LinkTo>
    <span class="breadcrumbs__carot" />
    <span class="breadcrumbs__pill">Catalog</span>
    <span class="breadcrumbs__carot" />
    <span class="breadcrumbs__pill breadcrumbs__pill--current">Music Detail</span>
  </div>

  <section class="item__main">
    <section class="item">
      <header class="item__header" {{blurhash-decoder @model.blur_img 945 370 1 bg=true}}>
        <div class="item__header-content">
          <div class="item__img" style={{css-url "background-image" (concat "/media-registry/covers/" @model.cover_art)}}>
            <button class="item__play-btn">{{svg-jar "play-btn" width="60px" height="60px"}}</button>
          </div>
          <h1 class="item__title">{{@model.song_title}}</h1>
          <h2 class="item__artist">{{@model.artist}}</h2>
          <ul class="item__header-details">
            {{#each this.headerDetailFields as |field|}}
              <li>
                <div class="item__header-field-title">{{field.title}}</div>
                <div class="item__header-field-value">{{field.value}}</div>
              </li>
            {{/each}}
          </ul>
        </div>
      </header>

      {{#each this.detailSections as |s|}}
        <section class="item__section">
          <h3 class="item__section-title">{{s.title}}</h3>
          {{#each s.content as |field|}}
            <div class="item__field">
              <h4 class="item__field-title">{{humanize field.title}}</h4>
              {{#if (eq field.type "card")}}
                <Card @type="small" @model={{field.value}} />
              {{else if (is-array field.value)}}
                <div class="item__field-value">
                  {{#each field.value as |val|}}
                    <div class="item__field-value-title">{{val.title}}</div>
                    {{#if (is-array val.value)}}
                      {{#each val.value as |vv|}}
                        <div class="item__field-value-val">{{vv}}</div>
                      {{/each}}
                    {{else}}
                      <div class="item__field-value">{{val.value}}</div>
                    {{/if}}
                  {{/each}}
                </div>
              {{else}}
                <div class="item__field-value">{{field.value}}</div>
              {{/if}}
            </div>
          {{/each}}
        </section>
      {{/each}}
    </section>

    <aside class="item__sidebar">
      <h3 class="item__sidebar-title">In these catalogs</h3>
      <div>
        {{#each @model.catalog as |catalog|}}
          <div>
            <LinkTo @route="media-registry.collection" @model={{dasherize (trim catalog)}}>
              {{catalog}}
            </LinkTo>
          </div>
        {{/each}}
      </div>
    </aside>
  </section>
</div>
