<section class="thread {{@class}}" ...attributes>
  {{yield (hash
    header=(component 'boxel/thread/header')
  )}}

  <div class="thread__scroll-wrapper">
    <section class="thread__content-wrapper">
      <section class="thread__content">

      </section>
    </section>

    <aside class="thread__sidebar">

    </aside>
  </div>
</section>


  {{!-- <Workflow::Container {{on "click" this.updateProgress}}>
    <Workflow::Header
      @title={{@model.workflow.title}}
      @toggleExpand={{this.toggleExpand}}
      @expanded={{this.expanded}}
    />
    <div class="workflow-modal__scroll-wrapper">
      <section class="workflow-modal__content-wrapper">
        <section class="workflow-modal__thread">
          <div class="workflow-divider">
            <hr class="workflow-divider__hr">
            <time class="workflow-divider__date">{{moment-format this.startTimestamp "MMMM D, YYYY"}}</time>
          </div>
          {{#each @model.workflow.milestones as |milestone i|}}
            {{#if (lte i this.progress)}}
              <Workflow::Message
                @contents={{milestone.message}}
                @datetime={{milestone.datetime}}
              />

              {{#if milestone.actionCard}}
                <AnimatedContainer onInitialRender={{true}}>
                  {{#animated-value this initialInsertion=true use=this.revealCard duration=(or milestone.delayMs "200")}}
                    {{component milestone.actionCard}}
                  {{/animated-value}}
                </AnimatedContainer>
              {{/if}}
            {{/if}}

            {{#if (gt this.progress i)}}
              <div>Milestone Reached</div>
            {{/if}}
          {{/each}}
        </section>

        <aside class="workflow-modal__sidebar">
          <Workflow::Sidebar::Card>
            <Workflow::Sidebar::Section @titleType="Workflow" @title={{@model.workflow.title}}>
              <Workflow::ProgressPie
                @progressPct={{this.progressPct}}
                @status={{this.progressStatus}}
              />
            </Workflow::Sidebar::Section>

            <Workflow::Sidebar::Section @title="Milestones">
              <Workflow::Milestones
                @milestones={{@model.workflow.milestones}}
                @completedCount={{this.progress}}
              />
            </Workflow::Sidebar::Section>
          </Workflow::Sidebar::Card>

          <Workflow::Sidebar::Card>

          </Workflow::Sidebar::Card>

          <Workflow::Sidebar::Card>
            <Workflow::Sidebar::Section @title="Participants">
              <Workflow::ParticipantList
                @participants={{this.workflowParticipants}}
              />
            </Workflow::Sidebar::Section>
            <Workflow::Sidebar::Section>
              <Workflow::ParticipantList
                @participants={{this.orgParticipants}}
                @addAction={{true}}
              />
            </Workflow::Sidebar::Section>
          </Workflow::Sidebar::Card>
        </aside>
      </section>
    </div>
  </Workflow::Container> --}}