<BoxelModal @onClose={{@onClose}} @class="thread-modal {{if this.expanded "thread-modal--full-width"}}">
  <Boxel::Thread class="thread-modal__inner" as |t|>
    <t.header
      @title={{@workflow.title}}
      @toggleExpand={{this.toggleExpand}}
      @expanded={{this.expanded}}
    >
    </t.header>

    <t.content>
      <section class="workflow-modal__thread">
        <div class="workflow-divider">
          <hr class="workflow-divider__hr">
          <time class="workflow-divider__date">{{moment-format this.startTimestamp "MMMM D, YYYY"}}</time>
        </div>
        {{#each @workflow.milestones as |milestone i|}}
          {{#if (lte i this.progress)}}
            <Boxel::Thread::Message
              @contents={{milestone.message}}
              @datetime={{milestone.datetime}}
            />

            {{!-- {{#if milestone.actionCard}}
              <AnimatedContainer onInitialRender={{true}}>
                {{#animated-value this initialInsertion=true use=this.revealCard duration=(or milestone.delayMs "200")}}
                  {{component milestone.actionCard}}
                {{/animated-value}}
              </AnimatedContainer>
            {{/if}} --}}
          {{/if}}

          {{#if (gt this.progress i)}}
            <div>Milestone Reached</div>
          {{/if}}
        {{/each}}
      </section>
    </t.content>

    <t.sidebar as |s|>
      <s.card as |c|>
        <c.section @title={{html-safe (concat "Workflow:<br>" @workflow.title)}}>
          <Boxel::ProgressCircle
            @size={{120}}
            @percentComplete={{this.progressPct}}
            @status={{this.progressStatus}}
          />
        </c.section>
        <c.section @title="Milestones">
          {{!-- Milestones --}}
        </c.section>
      </s.card>

      <s.card as |c|>
        {{!-- Participants --}}
        <c.section @title="Participants">

        </c.section>
        <c.section>

        </c.section>
      </s.card>
    </t.sidebar>

  </Boxel::Thread>
</BoxelModal>