<BoxelModal @onClose={{@onClose}} @class="thread-modal {{if this.expanded "thread-modal--full-width"}}">
  {{!-- OnClick action is temporarily added for demo's sake. --}}
  <Boxel::Thread class="thread-modal__inner" {{on "click" this.updateProgress}} as |t|>
    <t.header
      @title={{@model.workflow.title}}
      @toggleExpand={{this.toggleExpand}}
      @expanded={{this.expanded}}
    >
    </t.header>

    <t.content>
      <section class="workflow-modal__thread">
        <div class="workflow-divider">
          <hr class="workflow-divider__hr">
          <time class="workflow-divider__date">{{moment-format this.startTimestamp "MMMM D, YYYY"}}</time>
        </div>
        {{#each @model.workflow.milestones as |milestone i|}}
          {{#if (lte i this.progress)}}
            <Boxel::Thread::Message
              @contents={{milestone.message}}
              @datetime={{milestone.datetime}}
            />

            {{!-- {{#if milestone.actionCard}}
              <AnimatedContainer onInitialRender={{true}}>
                {{#animated-value this initialInsertion=true use=this.revealCard duration=(or milestone.delayMs "200")}}
                  {{component milestone.actionCard}}
                {{/animated-value}}
              </AnimatedContainer>
            {{/if}} --}}
          {{/if}}

          {{!-- {{#if (gt this.progress i)}}
            <div>Milestone Reached</div>
          {{/if}} --}}
        {{/each}}
      </section>
    </t.content>

    <t.sidebar>
      <Boxel::Thread::ProgressBox
        @progressCircleTitle={{html-safe (concat "Workflow:<br>" @model.workflow.title)}}
        @milestonesTitle="Milestones"
        @status={{this.progressStatus}}
      as |progressBox|>
        <progressBox.progressCircle
          @size={{120}}
          @percentComplete={{this.progressPct}}
        />
        <progressBox.milestones
          @milestones={{@model.workflow.milestones}}
          @completedCount={{this.progress}}
        />
      </Boxel::Thread::ProgressBox>

      <Boxel::Thread::ParticipantsBox
        @addAction={{true}}
      as |participantsBox|>
        <participantsBox.participants
          @participants={{@model.participants}}
        />
        <participantsBox.participants
          @participants={{@model.orgRepresentatives}}
        />
      </Boxel::Thread::ParticipantsBox>
    </t.sidebar>

  </Boxel::Thread>
</BoxelModal>