<BoxelModal @onClose={{@onClose}} @class="thread-modal {{if this.expanded "thread-modal--full-width"}}">
  <Boxel::Thread class="thread-modal__inner" @model={{@model}} as |t|>
    <t.header
      @title={{@workflow.title}}
      @toggleExpand={{this.toggleExpand}}
      @expanded={{this.expanded}}
    >
    </t.header>

    <t.content>
      <section class="workflow-modal__thread">
        <div class="workflow-divider">
          <hr class="workflow-divider__hr">
          <time class="workflow-divider__date">{{moment-format this.startTimestamp "MMMM D, YYYY"}}</time>
        </div>
        {{#each @workflow.milestones as |milestone i|}}
          {{#if (lte i this.progress)}}
            <Boxel::Thread::Message
              @contents={{milestone.message}}
              @datetime={{milestone.datetime}}
            />

            {{!-- {{#if milestone.actionCard}}
              <AnimatedContainer onInitialRender={{true}}>
                {{#animated-value this initialInsertion=true use=this.revealCard duration=(or milestone.delayMs "200")}}
                  {{component milestone.actionCard}}
                {{/animated-value}}
              </AnimatedContainer>
            {{/if}} --}}
          {{/if}}

          {{#if (gt this.progress i)}}
            <div>Milestone Reached</div>
          {{/if}}
        {{/each}}
      </section>
    </t.content>

    <t.sidebar>
      <section class="workflow-sidebar-card">
        <section class="workflow-sidebar-section">
          <h3 class="workflow-sidebar-section__title">
              Workflow:<br>
              {{@workflow.title}}
          </h3>
          <Boxel::ProgressCircle
            @size={{120}}
            @percentComplete={{this.progressPct}}
            @status={{this.progressStatus}}
          />
        </section>
      </section>
    </t.sidebar>

  </Boxel::Thread>
</BoxelModal>