{{#if @componentName}}
  {{component componentName value=value label=label required=true }}
{{else}}
  <TextField @value={{@value}} @label={{@label}} @required={{true}} @disabled={{true}}>
    <div class="demo-card-{{@fieldName}}">
      {{@value}}
    </div>
  </TextField>
{{/if}}