<div class="cards-page">
  <AnimatedContainer>
    <div class="cards-list triplet">
      {{#each model as |card|}}
        <Boxel @format={{if (eq cardNumber card.id) "expanded" "thumbnail"}} @name={{concat "card-" card.id}} @clickAction={{action "expand" card.id}}>
          {{card.title}}
        </Boxel>
      {{/each}}
    </div>
  </AnimatedContainer>

  {{outlet}}
</div>
