<div
  class={{cn
    "cardstack-toolbar-manager"
    cardstack-toolbar-manager--left-edge=this.displayLeftEdge
    cardstack-toolbar-manager--left-edge-hidden=this.edges.disableEdges
  }}
>
  {{outlet}}
</div>


  {{#unless this.edges.disableEdges}}
    {{#unless this.cardstackSession.isAuthenticated}}
      <CardSpace::TopEdge
        @onClick={{this.cardstackSession.login}}
        @darkTheme={{this.edges.darkTheme}}
      />
    {{/unless}}
  {{/unless}}

  <div class={{cn
    "cardstack-left-edge"
  }}>
    {{#if this.displayLeftEdge}}
      <CardHost::LeftEdgeNav
        @home={{hash icon="cardstack-logo" action=this.transitionHome width="33px" height="35px"}}
      />
    {{/if}}
  </div>
