<div class="cards-page">
  <div class="cards-list">
    {{#each model as |card|}}
      <div class="cards-list--col">
        <AnimatedContainer>
          <Boxel @format={{if (eq cardNumber card.id) "expanded" "thumbnail"}} @name={{concat "card-" card.id}} @clickAction={{action "expand" card.id}}>
            {{card.title}}
          </Boxel>
        </AnimatedContainer>
      </div>
    {{/each}}
  </div>

  {{outlet}}
</div>
