<div class="edit-demo-page">
  <AnimatedContainer class="card-container">
    <div class="demo-card {{if this.editing "edit" "view"}} card-{{model.id}}">
      <header class="demo-card-header">
        <button class="btn-edit-toggle" {{action "toggleEdit"}}>{{if this.editing "View" "Edit"}}</button>
      </header>
      <div class="demo-card-content">
        <div class="demo-card-field demo-card-text-field">
          <EditableField @value={{model.title}} @fieldName="title" @label="Title" @editing={{this.editing}}/>
        </div>
        <div class="demo-card-field demo-card-text-field">
          <EditableField @value={{model.description}} @fieldName="description" @label="Description" @editing={{this.editing}}/>
        </div>
        <div class="demo-card-field demo-card-text-area">
          <EditableField @value={{model.body}} @fieldName="body" @label="Body" @editing={{this.editing}} @componentName="text-area" />
        </div>
      </div>
    </div>
  </AnimatedContainer>
</div>