<Freestyle::Usage @name="NextStepsBox">
  <:example>
    <Boxel::NextStepsBox>
      <:default>
      <div class="next-steps-box-usage__button-container">
          {{#each this.items as |item|}}
            <Boxel::Button @kind="primary">
              {{item}}
            </Boxel::Button>
          {{/each}}
        </div>
      </:default>
      <:footer>
        <Boxel::Button @kind="secondary-dark">
          Return to dashboard
        </Boxel::Button>
      </:footer>
    </Boxel::NextStepsBox>
  </:example>

  <:api as |Args|>
    <Args.Array
      @name="items"
      @description="Array of list items of any type"
      @items={{this.items}}
      @onChange={{fn (mut this.items)}}
    />
    <Args.Yield
      @name="default"
      @description="Yields the contents of this box"
    />
    <Args.Yield
      @name="footer"
      @description="Yields footer block"
    />
  </:api>
</Freestyle::Usage>

<Freestyle::Usage @slug="no-footer-block">
  <:example>
    <Boxel::NextStepsBox @items={{array "Visit Space"}}>
      <:item as |item|>
        {{!-- Sample item content --}}
          <Boxel::Button @kind="primary">
            {{item}}
          </Boxel::Button>
        {{!-- Sample item content end --}}
      </:item>
    </Boxel::NextStepsBox>
  </:example>
</Freestyle::Usage>
