<button
  class={{cn
    'boxel-button'
    (if (or @iconLeft @iconRight) 'boxel-button--layout-icon' 'boxel-button--layout-centered')
    (if @iconLeft 'boxel-button--has-left-icon')
    (if @iconRight 'boxel-button--has-right-icon')
    (concat 'boxel-button--size-' (or @size this.defaultSize))
    (concat 'boxel-button--kind-' (or @kind this.defaultKind))
  }}
  disabled={{@disabled}}
  data-test-boxel-button
  ...attributes
>
  {{#if @iconLeft}}
      {{svg-jar @iconLeft class="boxel-button__icon"}}
  {{/if}}

  {{yield}}

  {{#if @iconRight}}
    {{svg-jar @iconRight class="boxel-button__icon"}}
  {{/if}}
</button>