<Freestyle::Usage @name="Button" @description="Light mode">
  <:example>
    <table>
      <tbody>
        {{#each this.sizeVariants as |size|}}
          <tr>
            {{#each this.appearanceVariants.light as |kind|}}
              <td>
                <Boxel::Button @kind={{kind}} @size={{size}}>
                  {{kind}}
                </Boxel::Button>
              </td>
            {{/each}}
            <td>
              <Boxel::Button @kind={{'secondary-light'}} @size={{size}} @disabled={{true}}>
                disabled
              </Boxel::Button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </:example>
</Freestyle::Usage>

<Freestyle::Usage @name="Button" @description="Dark mode">
  <:example>
    <table class="usage-button-dark-mode-background">
      <tbody>
        {{#each this.sizeVariants as |size|}}
          <tr>
            {{#each this.appearanceVariants.dark as |kind|}}
              <td>
                <Boxel::Button @kind={{kind}} @size={{size}}>
                  {{kind}}
                </Boxel::Button>
              </td>
            {{/each}}
            <td>
              <Boxel::Button @kind={{'secondary-light'}} @size={{size}} @disabled={{true}}>
                disabled
              </Boxel::Button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </:example>
</Freestyle::Usage>

<Freestyle::Usage @slug="button-icon" @description="Buttons with icons">
  <:example>
    <table>
      <tbody>
        {{#each this.sizeVariants as |size|}}
          <tr>
            {{#each this.iconVariants as |i|}}
              <td>
                <Boxel::Button
                  @kind={{'primary'}}
                  @size={{size}}
                  @iconLeft={{i.iconLeft}}
                  @iconRight={{i.iconRight}}
                >
                  {{i.text}}
                </Boxel::Button>
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    <table class="usage-button-dark-mode-background">
      <tbody>
        {{#each this.sizeVariants as |size|}}
          <tr>
            {{#each this.iconVariants as |i|}}
              <td>
                <Boxel::Button
                  @kind={{'secondary-dark'}}
                  @size={{size}}
                  @iconLeft={{i.iconLeft}}
                  @iconRight={{i.iconRight}}
                >
                  {{i.text}}
                </Boxel::Button>
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </:example>
</Freestyle::Usage>