<Boxel::CardContainer
  class={{cn
    "boxel-action-container"
    boxel-action-container--is-complete=@isComplete
  }}
  data-test-boxel-action-container
  data-test-boxel-action-container-is-complete={{@isComplete}}
  ...attributes
>
  {{#if @header}}
    <Boxel::Header
      class="boxel-action-container__header"
      @header={{@header}}
      data-test-boxel-action-header
    />
  {{/if}}

  {{#if @prompt}}
    <p class="boxel-action-container__prompt" data-test-boxel-action-prompt>
      {{@prompt}}
    </p>
  {{/if}}

  {{yield}}
</Boxel::CardContainer>