<Freestyle::Usage @name="ActionContainer">
  <:description>
    CardContainer with action card styling
  </:description>
  <:example>
    <Boxel::ActionContainer
      @header={{this.header}}
      @prompt={{this.prompt}}
      @isComplete={{this.isComplete}}
    >
      {{!-- Sample block yield --}}
        <div>Sample content</div>

        <Boxel::ActionChin
          @mode={{if this.isComplete "memorialized" "data-entry"}}
          @buttonText={{if this.isComplete "Edit" "Save"}}
          @onClickButton={{fn (mut this.isComplete) (not this.isComplete)}}
        />
      {{!-- End of sample block yield --}}
    </Boxel::ActionContainer>
  </:example>
  <:api as |Args|>
    <Args.String
      @name="header"
      @description="Card header"
      @onInput={{fn (mut this.header)}}
      @value={{this.header}}
    />
    <Args.String
      @name="prompt"
      @optional={{true}}
      @description="Optional main prompt with styling"
      @onInput={{fn (mut this.prompt)}}
      @value={{this.prompt}}
    />
    <Args.Bool
      @name="isComplete"
      @description="Alternative styling for completed card mode"
      @defaultValue={{false}}
      @onInput={{fn (mut this.isComplete)}}
    />
    <Args.Yield
      @optional={{true}}
      @description="Unstyled area for custom card content and fields"
    />
  </:api>
</Freestyle::Usage>